---
layout: default
body_class: "home-template user"
---
{% include header.html %}

<div class="page-content">
  <div class="wrapper">
    <div class="home">

	  <div id="search-box">
	  </div>

	  <div id="hits">
	  </div>

    </div>
  </div>
</div>

{% include pagination.html %}

{% include footer.html %}

		<script>
			//for search engine
			const search = instantsearch({
		  		appId: 'KENOTDNOEU',
		  		apiKey: 'ae5cbc89dfcd6d7e2a37d67949f3ae1c',
		  		indexName: 'manmarli',
		  		routing: true
			});

			//for search box
			search.addWidget(
				instantsearch.widgets.searchBox({
					container: '#search-box',
					placeholder: 'search for something'
				})
			);

			// for search result
			search.addWidget(
				instantsearch.widgets.hits({
					container: '#hits',
					templates: {
						empty: 'no result',
						{% raw %}
						item: `
      <article class="{%comment%}post_class{%endcomment%}">
          <header>
              <h1><a href="{{url}}">{{title}}</a></h1>
          </header>

          <div class="text">
              <p>{{content}}</p>
              <a href="{{url}}" class="readmore">Continue Reading</a>
          </div>
      </article>`
						{% endraw %}
					}
				})
			);

			search.start();

		</script>
